@model NutriApp.Models.FoodConsumida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoodConsumida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idFood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idFood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idAlimentacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAlimentacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
